CompositeAppAuth/src/jbiServiceUnits/META-INF/BpelAuthentification/src/_references/_projects/eBayAuthenticate/src/conf/wsdl/AuthentificateWebServiceService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://el/" xmlns:tns="http://el/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="connection" type="tns:connection"/>

  <xs:element name="connectionResponse" type="tns:connectionResponse"/>

  <xs:complexType name="connection">
    <xs:sequence>
      <xs:element name="username" type="xs:string" minOccurs="0"/>
      <xs:element name="password" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="connectionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

