BpelEvaluation/src/ReadDBWSService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://dbws/" xmlns:tns="http://dbws/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="readWS" type="tns:readWS"/>

  <xs:element name="readWSResponse" type="tns:readWSResponse"/>

  <xs:complexType name="readWS">
    <xs:sequence>
      <xs:element name="filename" type="xs:string" minOccurs="0"/>
      <xs:element name="id" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="readWSResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

