BpelInscription/src/InscriptionXmlSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://xml.netbeans.org/schema/InscriptionXmlSchema"
    xmlns:tns="http://xml.netbeans.org/schema/InscriptionXmlSchema"
    elementFormDefault="qualified">
    <xsd:complexType name="inscReqType">
        <xsd:sequence>
            <xsd:element name="login" type="xsd:string"/>
            <xsd:element name="password" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="inscRespType">
        <xsd:sequence>
            <xsd:element name="worked" type="xsd:boolean"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>

